body {
    color: #fff;
    background: #3598dc;
    font-family: 'Roboto', sans-serif;
}
.form-control{
    height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
}
.form-control:focus{
    background: #e2e2e2;
}
.form-control, .btn{        
    border-radius: 3px;
}

/* header css */
.row{

    width: 100%;
}
.title{

    color: white;
    background: #373F51;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    margin: 0;

}
.link-2{

    text-align: end;
}
#menu{
    width: 100%;
    background-color: #333;
    padding: 10px 0px;
}
#menu ul{
    font-size: 0;
    padding: 0 10px;
    margin: 0;
    list-style: none;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#menu ul li a:hover{
    background-color: rgba(255,255,255,0.2);
}
.alert{

    background: #CFE5DA;
    color: #61827B;
    padding: 10px 25px 10px 25px;
}
.alert h3{
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
}
.signup-form .alert h2{

    font-size: 12px;
    font-weight: 400;
    background:red;
    padding: 5px;

}
.signup-form{
    width: 390px;
    margin: 100px auto;
}
.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}    
.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}
.signup-form .row div:first-child{
    padding-right: 10px;
}
.signup-form .row div:last-child{
    padding-left: 10px;
}
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus{
    background: #2389cd !important;
    outline: none;
}
.signup-form a{
    color: #fff;
    text-decoration: underline;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    color: #3598dc;
    text-decoration: none;
}	
.signup-form form a:hover{
    text-decoration: underline;
}
.signup-form .hint-text {
    padding-bottom: 15px;
    text-align: center;
}

.signup-form .message{

    color: rgb(209, 57, 57);
}

/* login.php */

.form-group .raw{
    width: 100%;
}

.form-group .forgot{

    padding: 0;
    align-items: center;
    display: flex;
}

.form-group a{

    text-align: end;
    font-size: 15px;
}

/* dashboard.php */

.dashboard.card {
    width: 100%;
}

.dashboard .card .card-header h4{

    color: #333;
    font-weight: 600;
    font-size: 24;
}

.dashboard .card .card-body hr,h4,h5{

    color: #333;
    font-weight: 400;
    font-size: 24;
}

.card-box {
    margin-top: 80px;
}